# Node.js
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.venv/
backend/venv/
backend/ENV/
backend/env/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg

# Databases
backend/*.db
backend/{DB_FILE}
backend/log.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Enviroment
*.env
*.env.*
!.env.example

# Docker
.dockerignore
